---
layout: default
---
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script defer src="https://umami-liart-ten.vercel.app/script.js" data-website-id="5d6f6de0-7164-4cfa-8dfc-779ab9e26487"></script>
{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
  <ul class="posts">
    <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">posts</h1>
      {% if site.plainwhite.search %}
      <div class="search-container">
        <div class="search-section">
          <i class="icon-search"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
        </div>
        <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
      </div>
      {% endif %}
    </li>

    {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
	      <div id="repoTitle"></div>
        
        
<!--         <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div> -->
      </li>
    {%- endfor -%}
  </ul>

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}

<script>
$(document).ready(() => {
	var subUl = '', dash;

        $.get('https://api.github.com/users/victorratts13/repos', (gitData) => {
            for (git of gitData) {
                // dash = $.get(`https://api.github.com/repos/sttarMicroTech/${git.name}/contents/gitIcon/`, (repo) => {
                //     //console.log(repo)
                //     for(icon of repo){
                //         return icon;
                //     }
                // })
                //subUl += `<li><a class="dropdown-item" href="${git.html_url}">${git.name}</a></li>`;
		    subUl += `<a class="post-link" href="${git.html_url}">
          			<h2 class="post-title">${git.name}</h2>
       			     </a>
				<div class="post-meta">
				  <div class="post-date">
				    <i class="icon-calendar"></i>
				    ${git.created_at}
				  </div>
				</div>
				<div class="post">
				  ${git.description}
				</div>`;
            }
            $('#repoTitle').html(subUl)
        })
})
</script>
